*.tar.gz

*.exe
src/paydaycoin
src/paydaycoind
src/paydaycoinbench
src/paydaycoin-cli
src/paydaycoin-tx
src/paydaycoin-wallet
src/test/test_paydaycoin
src/test/test_paydaycoin_fuzzy
src/qt/test/test_paydaycoin-qt
src/bench/bench_paydaycoin

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/paydaycoin-config.h
src/config/paydaycoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

src/qt/paydaycoin-qt.config
src/qt/paydaycoin-qt.creator
src/qt/paydaycoin-qt.creator.user
src/qt/paydaycoin-qt.files
src/qt/paydaycoin-qt.includes

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.a
*.pb.cc
*.pb.h
*.dat

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Only ignore unexpected patches
*.patch
!depends/patches/*.patch

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
paydaycoin-qt
PaydayCoin-Qt.app
background.tiff*

# Unit-tests
Makefile.test
paydaycoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_paydaycoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*
src/test/node1/*
src/test/node2/*
src/test/node3/*
src/test/mainnet1/*
src/test/mainnet2/*
src/qt/node1
*.tmp
*.ipch
*.bin

!src/leveldb*/Makefile

/doc/doxygen/

libpaydaycoinconsensus.pc
contrib/devtools/split-debug.sh

# Output from running db4 installation
db4/

# clang-check
*.plist
